---
layout: landing-page
title: The essential digital book making tool list
sub-title: Now You Can Make A Children's Book Without Expensive Software!
signup: tool-list-download
---

    <!-- hero-unit -->
    <div class="hero">
      <div class="hero-content">

        <div class="hero-signup">

          <div class="hero-left">

            <!-- on mobile -->
            <h1 class="hidden-lg">
              {{ page.title }}
            </h1>

            <img src="https://placehold.it/600x400" alt="">

            <p>

              {% if page.signup %}
                {% include {{ page.signup }}.html %}
              {% endif %}

            </p>

          </div>

          <div class="hero-right">

            <h1 class="hidden-xs">
              {{ page.title }}
            </h1>
            <h2>
              {{ page.sub-title }}
            </h2>

            <div class="comment">
              <div class="comment-image">
                <img src="{{ site.data.global.url }}/images/checkmark.png">
              </div>
              <div class="comment-content">
                <h1>First Comment Title or Author</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                <p class="comment-detail">Date or details about this post</p>
              </div>
            </div>

            <div class="comment">
              <div class="comment-image">
                <img src="{{ site.data.global.url }}/images/checkmark.png">
              </div>
              <div class="comment-content">
                <h1>First Comment Title or Author</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                <p class="comment-detail">Date or details about this post</p>
              </div>
            </div>

            <div class="comment">
              <div class="comment-image">
                <img src="{{ site.data.global.url }}/images/checkmark.png">
              </div>
              <div class="comment-content">
                <h1>Another One</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
                <p class="comment-detail">Date or details about this post</p>
              </div>
            </div>

          </div>

       </div><!-- /hero-signup -->

      </div>

    </div>
