.hero {
  $large-screen: 50em !default;
  align-items: center;
  @include padding(2em 2em 0);

  .hero-content {
    @include outer-container;
    text-align: left;

    @include media($large-screen) {
      text-align: left;
    }

    .hero-left,
    .hero-right {
      @include span-columns(12);

      @include media($large-screen) {
        @include span-columns(6);
      }

    }

    // center type class on mobile
    .type {
      @include media($mobile-max-width) {
        text-align: center;
      }
    }

    // Heading
    h1.hero-title {
      text-transform: uppercase;
    }
    // center on mobile
    h1.hidden-lg.hero-title {
      margin-bottom: 1em;
      text-align: center;
    }

    // plain version
    .hero-plain {
      padding-bottom: 2em;
      min-height: 5em;
      text-align: center;
    }
    .hero-logo {
      display: block;
      @include margin(0 auto);
    }


  }

}

// Set min-height for hero when it is a sign-up
// determined by the `layout-class: hero-signup` in the front matter
// creates the class `.layout-{{ page.layout-class }}` on the `<body>`
.layout-hero-signup {

  .hero {
    @include padding(2em);
    min-height: 25em;
  }

}

// **
// co-ordinate hero title with category name
// just add `.category-{{ page.category }} .hero-title`
// then fill out color needed
// **

.category-tool-list .hero-title,
.layout-thank-you-page .hero-plain h1 {
  color: $theme-color;
}
