.hero {
  $large-screen: 50em !default;
  align-items: center;
  min-height: 25em;
  padding: 2em;

  .hero-content {
    @include outer-container;
    text-align: left;

    @include media($large-screen) {
      text-align: left;
    }

    .hero-left,
    .hero-right {
      @include span-columns(12);

      @include media($large-screen) {
        @include span-columns(6);
      }

    }

    .hero-left h1 {
      text-transform: uppercase;
    }

  }

}
