.hero {
  $large-screen: 50em !default;
  align-items: center;
  // background: #ccc; //image-url("background-image.png");
  background-position: right;
  background-size: none;
  display: flex;
  justify-content: center;
  min-height: 25em;
  padding: 2em;

  @include media($large-screen) {
    background-position: left;
    background-size: cover;
    //justify-content: flex-end;
  }

  .hero-content {
    @include outer-container;
    //max-width: 20em;
    text-align: left;

    @include media($large-screen) {
      text-align: left;
    }

    .hero-left,
    .hero-right {
      @include span-columns(12);

      @include media($large-screen) {
        @include span-columns(6);
      }

    }

    .hero-left h1 {
      text-transform: uppercase;
    }

  }


  .hero-logo {
    margin: auto;
  }
}
