<footer class="footer-2" role="contentinfo">

  <div class="footer-logo">
    <img src="{{ site.data.global.url }}/images/drawingstobook-logo.png" alt="Logo image">
  </div>

  <ul>
    <li><a href="mailto:tom@drawingstobook.com">Contact</a></li>
  </ul>

  <ul>
    <li>
      <a href="{{ site.data.global.url }}/privacy-policy">
        Privacy Policy
      </a>
    </li>
  </ul>

  <div class="footer-secondary-links">

    <ul class="footer-social">
      <li>
        <a href="https://www.facebook.com/drawingstobook">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
        </a>
      </li>
      <!-- li>
        <a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/twitter-logo-circle.png" alt="Twitter">
        </a>
      </li -->
      <li>
        <a href="https://www.youtube.com/channel/UCEdfBd5liwFaEnZXpVzJcAQ">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/youtube-logo-circle.png" alt="YouTube">
        </a>
      </li>
    </ul>

  </div>

</footer>
