{% comment %}

  This is the sign up button that opens the app.simplegoods.co download window
  to use this add in the post front matter:

  signup: tool-list-download (or whatever other one you create)

{% endcomment %}
<!-- big ol' button -->
<div class="big-btn">

  <!-- button -->
  <script src="https://gumroad.com/js/gumroad.js"></script>
  <a class="btn-trigger" href="{{ page.purchase-link }}?wanted=true" target="_blank" data-gumroad-single-product="true">
    {% if page.button-text %}
    {{ page.button-text }}
    {% else %}
    Click to download
    {% endif %}
  </a>

</div><!-- /big ol' button -->
