{% comment %}
This is a header that with the lead magnet sign up. It shows on blog pages
{% endcomment %}
<div class="signup-header">
  <div class="signup-header-content">

    <div class="signup-header-description">

      <img src="{{ site.data.global.url }}/images/fb-dtb-leadmag-ad-1.png" alt="Logo Image" class="signup-header-logo">
      <p>
        Learn about the 6 items you can use to make a digital children’s book with your kids today!

      </p>

    </div>

    <div class="signup-header-submit">
      <p>
        The beginners children's book making tool list
      </p>

      <a href="https://app.simplegoods.co/i/MQJXZSQY" class="btn">
        Download Now
      </a>

    </div>

  </div>
</div>
