// Colors
$temp-gray:             #ccc;
$theme-color:           #5f9ea0; //cadetblue

$light-gray:            #f5f7f8; // light ass gray

// mobile width
$mobile-max-width:     max-width 414px;

// logo
$logo-image:           "/images/drawingstobook-logo.png";
