// Colors
$temp-gray:             #ccc;
$theme-color:           #5f9ea0; //cadetblue

$light-gray:            #f1f1f1; // light ass gray

$black:                 #333;

// mobile width
$mobile-max-width:     max-width 414px;

// logo
$logo-image:           "/images/drawingstobook-logo.png";
