@import
  "variables",
  "patterns/centered-nav",
  "patterns/footer",
  "patterns/hero-unit",
  "patterns/icon-bullet-points",
  "patterns/comment",
  "patterns/thank-you-page",
  "components/modal",
  "components/parallax",
  "components/responsive-video",
  "components/responsive-utilities",
  "components/buttons",
  "components/alert",
  "components/image-gradient",
  "components/images",
  "type/traditional",
  "type/list-item-type",
  "type/blockquote",
  "layouts/blog-list"
;

// body reset
* {
    box-sizing: border-box;
}
body {
  margin: 0px;
}

// Pages
main {
  @include outer-container(800px);
  margin-bottom: 40px;
  section {
    @include span-columns(12);
    padding: 1em;
  }
}
