@import
  "variables",
  "patterns/centered-nav",
  "patterns/footer",
  "patterns/hero-unit",
  "patterns/icon-bullet-points",
  "patterns/comment",
  "components/modal",
  "components/parallax",
  "components/responsive-video",
  "components/responsive-utilities",
  "components/buttons",
  "components/alert",
  "type/traditional"
;

// body reset
* {
    box-sizing: border-box;
}
body {
  margin: 0px;
}

// Pages
main {
  @include outer-container(800px);
  margin-bottom: 40px;
  section { @include span-columns(12); }
}
