---
layout: page
title: 'DRAWINGS TO BOOK PRO'
sub-title: '<span style="font-weight: bold; color:#343642;">A Step-By-Step Process & All The Tools You Need To...</span>'
layout-class: thank-you-page
banner-color: "#d9d9d9"
#image: images/tool-list-download-image.png
#signup: sg-dtb-core-offer
button-text: Add To Cart
purchase-link: https://app.simplegoods.co/i/QDCQIHQM
category: lp
---
<h1>
   Make Your First Children's Book From Start To Finish<br>
   <small>(without expensive & complicated software)</small>
</h1>
<img src="{{ site.data.global.url }}/images/dtb-pro-image.png" alt="product image">
{% include sg-dtb-core-offer.html %}
<p></p>
<p>If you accept this proposal, it will cost you exactly $38.60.</p>
<h2 class="tc-custom-scroll">Now For The Good News...</h2>
<p>In exchange for this miniscule investment, I am going to give you the greatest gift I could ever give an aspiring children's book author.</p>
<p>It's the key to my "picture book-making vault"...a literal treasure trove of systems and easily accessible shortcuts to spark creativity for your books.</p>
<p>And I'm going to let you have them...</p>
<p>...ALL OF THEM...</p>
<p>...(plus a whole lot more)...</p>
<h2 class="tc-custom-scroll">You don't want to just "Wing It"</h2>
<p>For the better part of my career, that's what I did.</p>
<p>And for a while, it worked.</p>
<p>In the early days, I just didn't know any better. "Winging it" was just how I did it. But as time went on, "winging it" just didn't cut it anymore.</p>
<h2 class="tc-custom-scroll">So I Did Something About It...</h2>
<p>I assembled a carefully systematized method for each and every aspect of the book making process. Things that I could do easily, without needing expensive software.</p>
<p>For example:</p>
<ul class="tc-custom-scroll">
<li>A way to generate an <strong>Endless Supply Of Story Ideas...</strong></li>
<li>My step-by-step guide <em>(complete with text and video instructions)</em> on <strong>how to scan and color your pages with ONLY your smart phone.</strong> (I was shocked when I figured this one out.) And...</li>
<li><strong>How to prepare a picture book for digital distribution and roll out a copy you can offer on your own website or even the Amazon Kindle store...</li>
</ul>
<p>...and that's just to name a few!</p>
<p><strong>Virtually every aspect of writing, preparing and organizing my children's book was documented in step-by-step detail</strong> for you to see. (<em>8 steps when it was all said and done.</em>)</p>
<p><strong>My goal was simple</strong>: I wanted to see if someone who wasn't an expert could follow the steps in these plans and achieve similar results.</p>
<p>Now you can get video lessons about my book making process for yourself...</p>
<ul class="tc-custom-scroll">
<li>Writing Idea Resources...</li>
<li>Storyboarding/Layout Technique...</li>
<li>Sketching Preparation...</li>
<li>Inking...</li>
<li>Transfering Drawings To A Digital Format...</li>
<li>Coloring Pages Using Your Smart Phone...</li>
<li>Online Tools To Prepare & Arrange Your Story...</li>
</ul>

<p>Until very recently, these methods were mine and mine alone.</p>
<p>I spent the time figuring out ways to do this, scouring the internet for solutions, testing things to see what worked and what didn't.</p>
<p>But recently I made a very bold (and some might say CRAZY) move and built DrawingsToBook.com.</p>
<p>I decided to take literally ALL my systems and methods...</p>
<p>...EVERYTHING...</p>
<p>...and record them as video lessons for others that are just starting out. Those that are interested in making a children's book, who might not know how to begin.</p>
<p>I call it "Drawings To Book Pro", because that's exactly what it is: Your drawings and ideas, taken all the way to the finish line, a book.</p>
<p>You get to see everything...</p>
<p>And when you figure out something that works, you can use that knowledge to keep going. Make as many books as you want!</p>
<p>Here's a quick look at the execution plans that are already waiting for you...</p>
<ul class="tc-custom-scroll">
<li>Writing Idea Resources...</li>
<li>Storyboarding/Layout Technique...</li>
<li>Sketch Preparation...</li>
<li>Inking...</li>
<li>Transferring Drawings To A Digital Format...</li>
<li>Coloring Pages Using Your Smart Phone...</li>
<li>Online Tools To Prepare & Arrange Your Story...</li>
</ul>

<p>These Plans are great for ideas you, or even your kids, already have, but you want to know how to rollout a new book of your own?</p>
<p>What if you want to <strong>make a digital book</strong> that you can share on <em>Facebook</em>, or your own <strong>web page?</strong></p>
<p>If any of those are on your "To Do List," then you'll love these Execution Plans.</p>
<p>These plans are without a doubt the ULTIMATE SHORTCUT to finally crossing off all those items on your list.</p>

<p>And by downloading today, you can have immediate access to all these video lessons...</p>
<h2 style="color: red;" class="tc-custom-scroll">You Get It ALL – For Just $38.60</h2>
<p>That's right...</p>
<p>Your investment today is just $38.60.</p>
<h2 class="tc-custom-scroll">What?...Why Would I Do This?</h2>
<p>It may come as a surprise, but I do have a sneaky, ulterior motive for making this offer.</p>
<p>As you have probably already guessed, I'm not getting rich giving away my best stuff for less than $40.</p>
<p>My sincere hope is you'll love what you see and choose to stay.</p>
<p>If you do, GREAT!</p>
<p>If not, that's ok, too.</p>

<p>...especially when compared to what you'll make when you implement just one of the execution plans you see above, or what you'll save by getting a direct, specific answer to that one big question that's been plaguing you.</p>

<p>So click the Add to Cart button below, and let's get started...</p>

{% include sg-dtb-core-offer.html %}
<a href="https://app.simplegoods.co/i/QDCQIHQM">Add To Cart – Just $38.60</a>
<br>
<br>
<p>Enjoy making your book,<br>
Tom Ray<br>
DrawingsToBook.com
</p>
