.btn {
  padding: 2em 4em;
  @extend button;
  @include margin(20px auto 40px);

  > h2 {
    margin-bottom: 0px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    white-space: normal;
  }
}
